<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Sign Up</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img class="center-block" th:src="@{../image/logo2.jpg}"  width="46" height="45" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse w-100 justify-content-center  me-4" id="navbarNavAltMarkup">
                <div class="navbar-nav me-5">
                    <a class="nav-link active" aria-current="page" th:href="@{/}">Главная</a>
                    <a class="nav-link" th:href="@{/sendrequest}">Оставить заявку</a>
                    <a class="nav-link" th:href="@{/auth/login}">
                        Войти в личный кабинет
                    </a>
                </div>
            </div>
        </div>
    </nav>

</header>
<main>
<section class="full-center">
    <div class="container mx-auto" style="width: 600px;padding-top: 120px;" >
        <h1 style="padding-bottom: 12px;" > Зарегистрироваться </h1 >
    <form class="form-signin" role="form" th:action="@{/auth/dosignup}" th:method="post" th:object="${signUpRequest}" accept-charset="utf-8">


        <div class="form-floating mb-3">
            <input type="email" id="username" th:field="*{email}" name="username" class="form-control" placeholder="Email address" required
                   autofocus/>
            <label class="sr-only" for="username">Укажите вашу почту</label>
        </div>

        <div class="form-floating mb-3">
            <input type="password" id="password" th:field="*{password}" name="password" class="form-control" placeholder="Password" required/>
            <label class="sr-only" for="password">Пароль</label>
        </div>

        <button class="btn btn-primary w-100" type="submit">Отправить данные</button>
        <div class="row justify-content-around m-2">
            <div class="col-4 text-center"><a class="link-secondary" th:href="@{/auth/login}">Есть учетная запись</a></div>
        </div>
    </form>
</div>
</section>
</main>

<footer class="footer mt-auto py-3 bg-light fixed-bottom">
    <div class="container">
        <form class="d-flex" role="note">

            <a> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
            </svg> Горячая линия: +798888888</a>
        </form>
    </div>
</footer>
</body>
</html>
